
# MONGO_URI=mongodb://127.0.0.1:27017/stock_trading_portal
MONGO_URI=
DB_NAME=stock_trading_db
JWT_SECRET=someverysecretkey
expiresIn='1d'
PORT=5000

ADMIN_EMAIL=admin@fundtec.in
ADMIN_PASSWORD=admin123